<footer role="status" class="bg-white dark:bg-gray-900 animate-pulse">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <div class="h-14 w-36 bg-gray-300 rounded-md dark:bg-gray-700 max-w-[640px] mb-2.5 mx-auto"></div>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <div class="mb-6 h-5 w-20 bg-gray-300 rounded-md dark:bg-gray-700 max-w-[640px] mx-auto"></div>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <div class="mb-6 h-5 w-14 bg-gray-300 rounded-md dark:bg-gray-700 max-w-[640px] mx-auto">
                            </div>
                        </li>
                        <li>
                            <div class="mb-6 h-5 w-14 bg-gray-300 rounded-md dark:bg-gray-700 max-w-[640px] mx-auto">
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                <div class="mb-6 h-5 w-36 bg-gray-300 rounded-md dark:bg-gray-700 max-w-[640px] mx-auto"></div>
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <div class="mb-6 h-5 w-5 bg-gray-300 rounded-full dark:bg-gray-700 max-w-[640px] mx-auto"></div>
            </div>
        </div>
    </div>
</footer>